<p>home-page works!</p> 

<body>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['/FirstComponent']" class="nav-link">First Page</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/SecondComponent']" class="nav-link">Second Page</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/ThirdComponent']" class="nav-link">Third Page</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/lLoading/FirstModPage']" class="nav-link">Lazy Loading</a>
            </li>
            <!-- <li class="nav-item">
                <a [routerLink]="['/SecondModPage']" class="nav-link">SecondMod Page</a>
            </li> -->
        </ul>    
    </nav><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
</body>

<app-parent-counter></app-parent-counter>